<div [ngSwitch]="formations.length">
  <h1 *ngSwitchCase="0">Aucune formation</h1>
  <h1 *ngSwitchCase="1">Une formation</h1>
  <h1 *ngSwitchDefault>Formations</h1>
</div>

<ul>
  <li *ngFor="let formation of formations; index as i; first as f; last as l; odd as o">
    <!--      variable @Input()/variable à bind                                               lorsqu'on recoit un event formationSelected (émit par le composant app-formation-item)-->
    <app-formation-item [index]="i" [formation]="formation" [first]="f" [last]="l" [odd]="o" (formationSelected)="handleFormationSelected($event)"></app-formation-item>
  </li>
</ul>
