<div [ngSwitch]="formations.length">
  <h1 *ngSwitchCase="0">Aucune formation</h1>
  <h1 *ngSwitchCase="1">Une formation</h1>
  <h1 *ngSwitchDefault>Formations</h1>
</div>

<ul>
  <li *ngFor="let formation of formations; index as i; first as f; last as l; odd as o">
    <!--<p [class.first]="f" [class.last]="l">{{i}} - {{formation.nom}}</p>-->
    <p [class.first]="f" [class.last]="l" [class.odd]="o">{{i}} - {{formation.nom | titlecase}} Prix : {{formation.prix | currency:'EUR'}} Date de dénut : {{formation.dateDebut | date:'dd/MM/yyyy'}} Date de fin : {{formation.dateFin | date:'dd/MM/yyyy'}}</p>
  </li>
</ul>
